<nav class="navbar navbar-inverse fixed-top">
	<div class="container-fluid>">
		<ul class="nav navbar-nav">
			<li><a routerLink = "/AddCustomer"><h3><img class="img" src="../assets/img/ad.png">Add Customer</h3></a></li>
			<li><a routerLink = "EditCustomer"><h3><img class="img" src="../assets/img/edit.png">Edit Customer</h3></a></li>
			<li><a routerLink = "Customers"><h3><img class="img" src="../assets/img/view1.gif">View Customer</h3></a></li>
		</ul>
	</div>	
</nav>	
	

		
	<div class="middle">
	
		<router-outlet></router-outlet>
		<div class="left">
			<a href="#" class="nav-link fab fa-facebook-f text"></a><br>
			<a href="#" class="nav-link fab fa-twitter text" style="background-color:#1dcaff"></a><br>
			<a href="#" class="nav-link fab fa-google-plus-g text" style="background-color:#fa3c4c"></a><br>
			<a href="#" class="nav-link fas fa-rss text" style="background-color:#f69537"></a><br>
			<a href="#" class="nav-link fas fa-location-arrow text" style="background-color:#b3d9ff"></a><br>
			
			
		</div>
	</div>

	<div>
		<h1>Services</h1>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-3 border h">
				<i class="fas fa-globe i fa-3x"></i>
				<h4>Website Design & Development</h4>
				<p>Web Touch India Solution is the creative & innovative website designing & software development company in India.we understand the requirement of client to build up their business by social media support and offer the innovative ideas for architectural design of their website.We have best packages Website Design & Development for the Clients with the reliable service.</p>
			</div>
			<div class="col-sm-3 border h">
				<i class="fas fa-laptop i fa-3x"></i>
				<h4>Software Development</h4>
				<p>We develop the software and application for the client as per the requirement and user friendly for them and their end users.The aim of developing the software or application of client is focused and developed.The company is mainly focusing on providing a stress free and cost effective services.We mainly develop the software for the enterprises and market shop for time managements.</p>
			</div>
			<div class="col-sm-3 border h">
				<i class="fas fa-cubes i fa-3x"></i>
				<h4>Graphic Designs</h4>
				<p>We have the best team to develop graphic designs and printing media.Our graphic design team for clients providing them Logo and designs amd their printing media with innovative and creative ideas for branding the business.We have the best team to develop graphic designs and printing media.We have the best team to develop graphic designs and printing media.Finding a niche can help build your name quickly and, hopefully,lead to more work.</p>
				
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
				
			<footer class="text-center foot">
				<h5>2018 @ Privacy Policy</h5>
			</footer>
		
	

